<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head', { title: "My folders" }); -%>
  <body>
    <h1>My folders</h1>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Files</th>
          <th>Sub-folders</th>
          <th>Created</th>
          <th>Last Updated</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <% folders.map((folder)=>{ %>
        <tr>
          <td><%= folder.name %></td>
          <td><%= folder.files.length %></td>
          <td><%= folder.subfolders.length %></td>
          <td>
            <%= new Date(folder.createdAt).toLocaleDateString('en-US', { day:
            'numeric', month: 'long', year: 'numeric' }) %>
          </td>
          <td>
            <%= new Date(folder.updatedAt).toLocaleDateString('en-US', { day:
            'numeric', month: 'long', year: 'numeric' }) %>
          </td>
          <td>
            <a href="/folders/<%= folder.id %>/edit">Edit</a>
            <a href="/folders/<%= folder.id %>/add-file">Add file</a>
            <a href="/folders/new">Create a folder</a>
          </td>
        </tr>

        <% }) %>
      </tbody>
      <tbody></tbody>
    </table>

    <% folders.map((folder)=>{ %>
    <h2><%= folder.name %></h2>
    <p>
      Files: <% folder.files.map(file => { %> <%= file.name %>
      <a href="/files/<%= file.id %>/edit">Rename</a
      ><button class="file" file_id="<%= file.id %>">Delete</button><br />
      <% }) %>
    </p>
    <a href="/folders/<%= folder.id %>/edit">Edit</a>
    <a href="/folders/<%= folder.id %>/add-file">Add file</a>
    <a href="/folders/new">Create a folder</a>

    <button folder_id="<%= folder.id %>" class="folder">Delete</button>

    <% }) %>

    <hr />
    <a href="/folders/new">Create a folder</a>
    <script>
      const allFolderDeleteButtons = document.querySelectorAll(".folder");

      allFolderDeleteButtons.forEach((button) => {
        button.addEventListener("click", (e) => {
          const folderId = button.getAttribute("folder_id");

          if (confirm("Are you sure you want to delete this folder?")) {
            // Send a DELETE request to the server
            fetch(`/folders/${folderId}/delete`, {
              method: "POST",
            })
              .then((response) => {
                if (response.ok) {
                  // Remove the item from the DOM if successfully deleted
                  // button.closest('div').remove();
                } else {
                  alert("Failed to delete item. Please try again.");
                }
              })
              .catch((error) => {
                console.error("Error:", error);
                alert("An error occurred while deleting the item.");
              });
          }
        });
      });
      const allFileDeleteButtons = document.querySelectorAll(".file");
      allFileDeleteButtons.forEach((button) => {
        button.addEventListener("click", (e) => {
          const fileId = button.getAttribute("file_id");

          if (confirm("Are you sure you want to delete this file?")) {
            // Send a DELETE request to the server
            fetch(`/files/${fileId}/delete`, {
              method: "POST",
            })
              .then((response) => {
                if (response.ok) {
                  // Remove the item from the DOM if successfully deleted
                  // button.closest('div').remove();
                } else {
                  alert("Failed to delete item. Please try again.");
                }
              })
              .catch((error) => {
                console.error("Error:", error);
                alert("An error occurred while deleting the item.");
              });
          }
        });
      });
    </script>
  </body>
</html>
