<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head', { title: folder.name }); -%>

  <body class="flex flex-col min-h-screen">
    <%- include('../layout/header'); -%> <% if(folder){ %>

    <div class="content flex-1 px-6 py-4 bg-gray-100 flex flex-col">
      <div class="flex items-center">
        <% if (folder.parentId) { %>
        <a
          href="javascript:history.back() %>"
          class="py-3 px-1 text-indigo-700 hover:text-blue-800 font-medium flex items-center space-x-2"
        >
          <span class="text-base">← <%= folder.parent.name %></span>
        </a>
        <% } %>
      </div>
      <div class="flex justify-between items-center">
        <div class="flex items-center gap-3 ml-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-5 sm:size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 9.776c.112-.017.227-.026.344-.026h15.812c.117 0 .232.009.344.026m-16.5 0a2.25 2.25 0 0 0-1.883 2.542l.857 6a2.25 2.25 0 0 0 2.227 1.932H19.05a2.25 2.25 0 0 0 2.227-1.932l.857-6a2.25 2.25 0 0 0-1.883-2.542m-16.5 0V6A2.25 2.25 0 0 1 6 3.75h3.879a1.5 1.5 0 0 1 1.06.44l2.122 2.12a1.5 1.5 0 0 0 1.06.44H18A2.25 2.25 0 0 1 20.25 9v.776"
            />
          </svg>
          <h1 class="text-sm sm:text-xl font-bold"><%= folder.name %></h1>
        </div>
      </div>

      <div class="overflow-x-auto pb-16">
        <div class="rounded-lg border border-gray-300 my-3 bg-white shadow-md">
          <table class="w-full">
            <thead class="bg-gray-200 text-black text-sm">
              <tr class="text-left border-b">
                <th class="px-4 py-2 font-normal" style="width: 30%">Name</th>
                <th class="px-4 py-2 font-normal" style="width: 10%">Files</th>
                <th class="px-4 py-2 font-normal" style="width: 10%">
                  Sub-folders
                </th>
                <th
                  class="hidden sm:table-cell px-4 py-2 font-normal"
                  style="width: 10%"
                >
                  Created
                </th>
                <th
                  class="hidden sm:table-cell px-4 py-2 font-normal"
                  style="width: 10%"
                >
                  Last Updated
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 text-[12px] sm:text-sm">
              <% if(folder.subfolders.length + folder.files.length >= 1){%> <%
              folder.subfolders.map((folder)=>{ %>
              <tr
                class="hover:bg-gray-50 cursor-pointer transition-colors h-12"
              >
                <td class="px-4 py-2 text-indigo-700 hover:underline">
                  <div class="flex items-center">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="size-4 mr-2"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M2.25 12.75V12A2.25 2.25 0 0 1 4.5 9.75h15A2.25 2.25 0 0 1 21.75 12v.75m-8.69-6.44-2.12-2.12a1.5 1.5 0 0 0-1.061-.44H4.5A2.25 2.25 0 0 0 2.25 6v12a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9a2.25 2.25 0 0 0-2.25-2.25h-5.379a1.5 1.5 0 0 1-1.06-.44Z"
                      />
                    </svg>
                    <a href="/share/folders/<%= folder.id %>">
                      <%= folder.name %></a
                    >
                  </div>
                </td>
                <td class="px-4 py-2"><%= folder.files.length %></td>
                <td class="hidden sm:table-cell px-4 py-2">
                  <%= folder.subfolders.length %>
                </td>
                <td class="hidden sm:table-cell px-4 py-2">
                  <%= folder.createdAgo %>
                </td>
                <td><%= folder.updatedAgo %></td>
              </tr>
              <% }) %> <% folder.files.map((file)=>{ %>
              <tr
                class="hover:bg-gray-50 cursor-pointer transition-colors h-12"
              >
                <td class="px-4 py-2 text-indigo-700 hover:underline">
                  <div class="flex items-center">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="size-4 mr-2"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m2.25 0H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z"
                      />
                    </svg>
                    <a href="#"> <%= file.name %></a>
                  </div>
                </td>
                <td class="px-4 py-2">-</td>
                <td class="hidden sm:table-cell px-4 py-2">-</td>
                <td class="hidden sm:table-cell px-4 py-2">
                  <%= file.createdAgo %>
                </td>
                <td><%= file.updatedAgo %></td>
              </tr>

              <% }) %> <% } else {%>
              <tr class="bg-gray-50">
                <td colspan="6" class="text-center py-4 text-gray-500 text-sm">
                  This folder is empty.
                </td>
              </tr>

              <%} %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <% } else { %>
    <div class="content flex-1 px-6 py-4 bg-gray-100 flex flex-col">
      <h1 class="text-center">Folder not found</h1>
      <div class="flex items-center">
        <a
          href="/folders"
          class="py-3 px-1 text-indigo-700 hover:text-blue-800 font-medium flex items-center space-x-2"
        >
          <span class="text-base">← My Documents</span>
        </a>
      </div>
    </div>
    <% } %> <%- include('../layout/footer'); -%>
  </body>
</html>
